In [2]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5975 sha256=6b86efd511ff1c60f5193a71c8c9a50d7546b3d7291d72a501fdbd739d02a906
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\77\3d\a6\d317a6fb32be58a602b1e8c6b5d6f31f79322da554cad2a5ea
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [3]:
import pandas as pd
import numpy as np
from apyori import apriori

In [4]:
df = pd.read_csv('final_data.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,log_price,accommodates,bathrooms,bedrooms,beds,Family/kid friendly,translation missing: en.hosting_amenity_50,Fire extinguisher,...,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,cleaning_fee_True,city_Chicago,city_DC,city_LA,city_NYC,city_SF
0,0,0,5.010635,3,1.0,1.0,1.0,1,1,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,1,5.129899,7,1.0,3.0,3.0,1,1,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,2,2,4.976734,5,1.0,1.0,3.0,1,1,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3,3,6.620073,4,1.0,2.0,2.0,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,4,4,4.744932,2,1.0,0.0,1.0,0,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [6]:
df.drop(['Unnamed: 0.1','Unnamed: 0'], axis=1, inplace=True)
df.head()

,log_price,accommodates,bathrooms,bedrooms,beds,Family/kid friendly,translation missing: en.hosting_amenity_50,Fire extinguisher,Cable TV,Buzzer/wireless intercom,...,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,cleaning_fee_True,city_Chicago,city_DC,city_LA,city_NYC,city_SF
0,5.010635,3,1.0,1.0,1.0,1,1,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,5.129899,7,1.0,3.0,3.0,1,1,1,0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,4.976734,5,1.0,1.0,3.0,1,1,1,1,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,6.620073,4,1.0,2.0,2.0,0,0,1,1,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,4.744932,2,1.0,0.0,1.0,0,0,1,0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [15]:
rules = apriori(df, min_support=0.0022, min_confidence=0.20, min_lift=3, min_length = 4)

In [14]:
# Store rules in result variable
results = list(rules)
# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [ ]:
print(len(results_list))

In [ ]:
results = list(rules)